<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Booklist</title>
</head>
<body>
    <h1>Books</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publication Year</th>
                <th>ISBN</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.publicationYear}"></td>
                <td th:text="${book.isbn}"></td>
                <td><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
            </tr>
        </tbody>
    </table>
    <a href="/add">Add Book</a>
</body>
</html>